<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="MXD" value="F:\陆吾文档\交通控制中心\Map.mxd"/>
    <add key ="ROAD" value="AROAD"/>
    <add key="SERVER" value="10.22.102.18" />
    <add key="INSTANCE" value="esri_sde" />
    <add key="USER" value="sde" />
    <add key="PASSWORD" value="L0owo0Tech" />
    <add key="DATABASE" value="" />
    <add key="VERSION" value="SDE.DEFAULT" />
    <add key="LAYERINFO" value="LayerInfo.xml"/>
    <add key="RELATION" value="RelationInfo.xml"/>
  </appSettings>
</configuration>