<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="TRAFFIC" providerName="System.Data.SqlClient" connectionString="Data Source=10.22.102.18\SQLEXPRESS;Initial Catalog=Traffic;User ID=LoowooTech;Password=L0owo0Tech" />
  </connectionStrings>
  <appSettings>
    <add key="Expand" value="2"/>
    <add key="MAPTYPE" value="Base"/>
    <add key="BUFFER" value="0.0003"/>
    <add key="MXD" value="Data\Map.mxd" />
    <add key="SCALE" value="1:8000"/>
    <add key="ROAD" value="AROAD" />
    <add key="ROADNODE" value="NODE"/>
    <add key="ROADHISTORY" value="ROADHIS"/>
    <add key="BUSLINE" value="BUSLINE" />
    <add key="BUSKEY" value="LineName"/>
    <add key="START" value="StartStop"/>
    <add key="END" value="EndStop"/>
    <add key="BUSSTOP" value="BUSSTOP" />
    <add key="BUSSTOPNAME" value="STOP"/>
    <add key ="BUSSTOPKEY1" value="lineNameshort"/>
    <add key="BUSSTOPKEY2" value="lineDirect"/>
    <add key="BUSSTOPKEY3" value="LineId_bus"/>
    <add key="BUSSTOPKEY4" value="lineIdBus"/>
    <add key="BUSSTOPKEY5" value="stopIndex"/>
    <add key="PARKING" value="PARKING" />
    <add key="PARKINGKEY1" value="类型"/>
    <add key="PARKINGKEY2" value="总泊位"/>
    <add key="BIKE" value="BIKE" />
    <add key="FLOW" value="FLOW" />
    <add key="XZQ" value="XZQ"/>
    <add key="SIX" value="SIX"/>
    <add key="CF" value="CF"/>
    <add key="SCALE" value="SCALE"/>
    <add key="OPACITY" value="80"/>
    <add key="OPACITY2" value="60"/>
    <add key="SERVER" value="10.22.102.18" />
    <add key="INSTANCE" value="5151" />
    <add key="USER" value="sde" />
    <add key="PASSWORD" value="L0owo0Tech" />
    <add key="DATABASE" value="sde" />
    <add key="DPI" value="5"/>
    <add key="LAYERINFO" value="LayerInfo.xml" />
    <add key="RELATION" value="RelationInfo.xml" />
    <add key="Ignore" value="区划"/>
    <add key="RoadBackground" value="路网底图"/>
    <add key="RoadBase" value="路网基础"/>
    <add key="RoadRank" value="路网等级"/>
    <add key="RoadNumber" value="路网车道数"/>
    <add key="BusDegree" value="公交路线等级"/>
    <add key="BusRegion" value="公交路线区域"/>
    <add key="BusBase" value="公交路线基础"/>
    <add key="SELECTRED" value="0"/>
    <add key="SELECTGREEN" value="113"/>
    <add key="SELECTBLUE" value="255"/>
    

    <!-- 不使用SDE直连时的配置-->
    <!--
    <add key="ROAD" value="高速公路" />
    <add key="BUSLINE" value="公交路线" />
    <add key="BUSSTOP" value="公交站点" />
    <add key="PARKING" value="停车场" />
    <add key="BIKE" value="公共自行车" />
    <add key="FLOW" value="交通流量" />-->
    
    
    
    <add key="VERSION" value="SDE.DEFAULT" />
    
    
    
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup></configuration>
