<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="TRAFFIC" providerName="System.Data.SqlClient" connectionString="Data Source=10.22.102.18\SQLEXPRESS;Initial Catalog=Traffic;User ID=LoowooTech;Password=L0owo0Tech"/>
  </connectionStrings>
  <appSettings>
    <add key="MXD" value="F:\陆吾文档\交通控制中心\Map.mxd" />
    <add key="ROAD" value="AROAD" />
    <add key="BUSLINE" value="BUSLINE" />
    <add key="BUSSTOP" value="BUSSTOP" />
    <add key="PARKING" value="PARKING"/>
    <add key="BIKE" value="BIKE"/>
    <add key="FLOW" value="FLOW"/>
    <add key="SERVER" value="10.22.102.18" />
    <add key="INSTANCE" value="esri_sde" />
    <add key="USER" value="sde" />
    <add key="PASSWORD" value="L0owo0Tech" />
    <add key="DATABASE" value="" />
    <add key="VERSION" value="SDE.DEFAULT" />
    <add key="LAYERINFO" value="F:\Github\Traffic\LoowooTech.Traffic\LoowooTech.Traffic\LayerInfo.xml" />
    <add key="RELATION" value="F:\Github\Traffic\LoowooTech.Traffic\LoowooTech.Traffic\RelationInfo.xml" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>